@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(218, 28%, 13%) !important;
  /* color: hsl(218, 28%, 90%) !important; */
  color: #fff;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  font-weight: 700;
}
